@import 'tailwindcss';

:root {
    --font-sans: 'IBM Plex Sans JP', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: 'IBM Plex Mono', ui-monospace, monospace;
    color-scheme: dark;
}

/* Needed for the automatic height of the body, with flex:1 */
html,
body {
    height: 100%;
    accent-color: var(--color-slate-950);
}

html {
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    scrollbar-color: var(--color-slate-400) var(--color-slate-950);
}

/* Pseudo element that goes on top of the element its given, so that stretchy overscroll doesn't show the background on mobile devices */
.overscroll-pseudo-elt::before {
    content: '';
    position: absolute;
    top: -100vh;
    /* move pseudo above the element */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    pointer-events: none;
}

.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black; /* Add dots under the hoverable text */
    cursor: pointer;
}

/* Tooltip text */
.tooltip-content {
    visibility: hidden; /* Hidden by default */
    width: 600px;
    height: 600px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltip-content {
    visibility: visible;
}