@import 'tailwindcss';

:root {
    --font-sans: 'IBM Plex Sans JP', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Needed for the automatic height of the body, with flex:1 */
html, body {
    height: 100%;
}

body {
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}